@import url("https://fonts.googleapis.com/css?family=Poppins:700&display=swap");
body{
    overflow: hidden;
}
header {
  div {
    width:100vw;
    height: 5px;
    background: rgba(255, 134, 41, 1);
    background: -moz-linear-gradient(
      left,
      rgba(255, 134, 41, 1) 0%,
      rgba(255, 98, 26, 1) 20%,
      rgba(224, 59, 26, 1) 37%,
      rgba(214, 52, 29, 1) 46%,
      rgba(196, 41, 33, 1) 61%,
      rgba(201, 44, 122, 1) 79%,
      rgba(216, 54, 252, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(255, 134, 41, 1)),
      color-stop(20%, rgba(255, 98, 26, 1)),
      color-stop(37%, rgba(224, 59, 26, 1)),
      color-stop(46%, rgba(214, 52, 29, 1)),
      color-stop(61%, rgba(196, 41, 33, 1)),
      color-stop(79%, rgba(201, 44, 122, 1)),
      color-stop(100%, rgba(216, 54, 252, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(255, 134, 41, 1) 0%,
      rgba(255, 98, 26, 1) 20%,
      rgba(224, 59, 26, 1) 37%,
      rgba(214, 52, 29, 1) 46%,
      rgba(196, 41, 33, 1) 61%,
      rgba(201, 44, 122, 1) 79%,
      rgba(216, 54, 252, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(255, 134, 41, 1) 0%,
      rgba(255, 98, 26, 1) 20%,
      rgba(224, 59, 26, 1) 37%,
      rgba(214, 52, 29, 1) 46%,
      rgba(196, 41, 33, 1) 61%,
      rgba(201, 44, 122, 1) 79%,
      rgba(216, 54, 252, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(255, 134, 41, 1) 0%,
      rgba(255, 98, 26, 1) 20%,
      rgba(224, 59, 26, 1) 37%,
      rgba(214, 52, 29, 1) 46%,
      rgba(196, 41, 33, 1) 61%,
      rgba(201, 44, 122, 1) 79%,
      rgba(216, 54, 252, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(255, 134, 41, 1) 0%,
      rgba(255, 98, 26, 1) 20%,
      rgba(224, 59, 26, 1) 37%,
      rgba(214, 52, 29, 1) 46%,
      rgba(196, 41, 33, 1) 61%,
      rgba(201, 44, 122, 1) 79%,
      rgba(216, 54, 252, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8629', endColorstr='#d836fc', GradientType=1 );
  }
  .main-nav{
      .principal-nav{
          display:flex;
          justify-content: space-between;
      }
  }
}
