/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap");
/*Variables*/
$font: "Inconsolata", monospace;
$font2: "Poppins", sans-serif;
$pink: #fb3e44;
$lighter-grey: rgba(0, 0, 0, 0.05);
$grey: rgba(0, 0, 0, 0.7);
$grey-background: rgba(232, 217, 217, 0.3);

/* all Inputs */
::-webkit-input-placeholder {
  color: #555;
  font-family: $font;
  padding-left: 0.5rem;
}
::-moz-placeholder {
  color: #555;
  font-family: $font;
  padding-left: 0.5rem;
} /* firefox 19+ */
:-ms-input-placeholder {
  color: #555;
  font-family: $font;
  padding-left: 0.5rem;
} /* ie */
input:-moz-placeholder {
  color: #555;
  font-family: $font;
  padding-left: 0.5rem;
}

body {
  overflow: hidden;
}
header {
  box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.10196);
  .gradient {
    width: 100vw;
    height: 5px;
    background: rgba(255, 134, 41, 1);
    background: -moz-linear-gradient(
      left,
      rgba(255, 134, 41, 1) 0%,
      rgba(255, 98, 26, 1) 20%,
      rgba(224, 59, 26, 1) 37%,
      rgba(214, 52, 29, 1) 46%,
      rgba(196, 41, 33, 1) 61%,
      rgba(201, 44, 122, 1) 79%,
      rgba(216, 54, 252, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(255, 134, 41, 1)),
      color-stop(20%, rgba(255, 98, 26, 1)),
      color-stop(37%, rgba(224, 59, 26, 1)),
      color-stop(46%, rgba(214, 52, 29, 1)),
      color-stop(61%, rgba(196, 41, 33, 1)),
      color-stop(79%, rgba(201, 44, 122, 1)),
      color-stop(100%, rgba(216, 54, 252, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(255, 134, 41, 1) 0%,
      rgba(255, 98, 26, 1) 20%,
      rgba(224, 59, 26, 1) 37%,
      rgba(214, 52, 29, 1) 46%,
      rgba(196, 41, 33, 1) 61%,
      rgba(201, 44, 122, 1) 79%,
      rgba(216, 54, 252, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(255, 134, 41, 1) 0%,
      rgba(255, 98, 26, 1) 20%,
      rgba(224, 59, 26, 1) 37%,
      rgba(214, 52, 29, 1) 46%,
      rgba(196, 41, 33, 1) 61%,
      rgba(201, 44, 122, 1) 79%,
      rgba(216, 54, 252, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(255, 134, 41, 1) 0%,
      rgba(255, 98, 26, 1) 20%,
      rgba(224, 59, 26, 1) 37%,
      rgba(214, 52, 29, 1) 46%,
      rgba(196, 41, 33, 1) 61%,
      rgba(201, 44, 122, 1) 79%,
      rgba(216, 54, 252, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(255, 134, 41, 1) 0%,
      rgba(255, 98, 26, 1) 20%,
      rgba(224, 59, 26, 1) 37%,
      rgba(214, 52, 29, 1) 46%,
      rgba(196, 41, 33, 1) 61%,
      rgba(201, 44, 122, 1) 79%,
      rgba(216, 54, 252, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8629', endColorstr='#d836fc', GradientType=1 );
  }
}
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  .principal-nav {
    display: flex;
    width: 100%;
    padding-left: 0.5rem;
    justify-content: space-between;
    padding-top: 0.25rem;
    padding-bottom: 0.4rem;
    border-bottom: solid 0.2px #e0e0e0;
    ul {
      display: flex;
      &:first-child {
        display: none;
      }
      li {
        flex-grow: 1;
        padding-right: 0.5rem;
        display: block;
        a {
          text-decoration: none;
          color: black;
          font-family: $font;
          font-weight: 500;
          text-decoration: none;
          font-size: 0.8rem;
        }
      }
    }
  }
  .second-nav {
    display: flex;
    flex-wrap: wrap;
    .logo {
      width: 50%;
      padding-bottom: 1rem;
      a {
        img {
          padding-left: 0.5rem;
          padding-top: 0.5rem;
          width: 80px;
        }
      }
    }
    .login {
      width: 50%;
      font-family: $font2;
      color: $grey;
      text-align: right;
      padding-top: 0.7rem;
      a {
        padding-left: 0.5rem;
        font-size: 0.8rem;
        &:nth-of-type(1) {
          border: 1px solid #9a9a9a;
          padding: 5px;
        }
      }
    }
    .search {
      border-top: solid 0.2px #e0e0e0;
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      width: 100%;
      input {
        background-color: $lighter-grey;
        border: none;
        width: calc(100% - 25%);
        height: 40px;
        box-sizing: border-box;
      }
      button {
        width: 23%;
        background-color: $pink;
        border: none;
        color: white;
        height: 40px;
        box-sizing: border-box;
        font-family: $font;
        font-size: 0.875rem;
        padding-bottom: 0px;
      }
    }
  }
}
.principal-section {
  background-color: $grey-background;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  .content-principal-section {
    text-align: center;
    h1 {
      font-size: 2.25rem;
      font-family: $font2;
      font-weight: bold;
    }
    span {
      font-family: $font2;
      font-size: 1.25rem;
      font-weight: 400;
    }
  }
  .action-principal-section {
    div {
      &:nth-of-type(1) {
        a {
          background-color: $pink;
          box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
          font-family: $font2;
          color: white;
          min-width: 250px;
          padding: 20px;
          text-align: center;
          text-decoration: none;
        }
      }
      &:nth-of-type(2) {
        padding: 20px;
        min-width: 250px;
        background-color: white;
        text-align: center;
        text-decoration: none;
        color: black;
      }
    }
  }
}
